*~
tags
doc/html
doc/*.log
missionlib/testing/*.xcodeproj/*
.DS_Store
build*
.nfs*
share/
pymavlink/generator/C/
pymavlink/generator/C/
pymavlink/generator/python/
pymavlink/generator/python/
apidocs/
pymavlink/generator/message_definitions
*.swp
pymavlink/dialects/
pymavlink/MANIFEST
pymavlink/dist
pymavlink.egg-info/
