*~
tags
doc/html
doc/messages
doc/*.log
.DS_Store
build*
install*
.nfs*
share/
__pycache__
apidocs/
*.swp
.pydevproject
.project
.ropeproject
*.cproject
include/
.tags*
*.pyc
include/mavlink/v1.0
.idea
/.vscode
