*~
tags
doc/html
doc/*.log
missionlib/testing/*.xcodeproj/*
.DS_Store
build*
.nfs*
share/
__pycache__
pymavlink/generator/C/
pymavlink/generator/C/
pymavlink/generator/python/
pymavlink/generator/python/
apidocs/
pymavlink/generator/message_definitions
*.swp
pymavlink/dialects/
pymavlink/MANIFEST
pymavlink/dist
pymavlink.egg-info/
.pydevproject
.project
.ropeproject
include/
.tags*
include/mavlink/v1.0
