*~
tags
.DS_Store
build*
.nfs*
share/
__pycache__
generator/C/
generator/python/
generator/message_definitions
*.swp
MANIFEST
dist/
pymavlink.egg-info/
.pydevproject
.project
.ropeproject
*.cproject
include/
.tags*
include/mavlink/v1.0
*.pyc
