/ASLUAV.py
/ASLUAV.xml
/ardupilotmega.py
/ardupilotmega.xml
/autoquad.py
/autoquad.xml
/common.py
/common.xml
/icarous.py
/icarous.xml
/matrixpilot.py
/matrixpilot.xml
/minimal.py
/minimal.xml
/paparazzi.py
/paparazzi.xml
/python_array_test.py
/python_array_test.xml
/slugs.py
/slugs.xml
/standard.py
/standard.xml
/test.py
/test.xml
/uAvionix.py
/uAvionix.xml
/ualberta.py
/ualberta.xml
