# only keep relevant arkcmake files
arkcmake/*
!arkcmake/DefineCMakeDefaults.cmake
!arkcmake/DefineInstallationPaths.cmake
!arkcmake/DefinePlatformDefaults.cmake
!arkcmake/MacroEnsureOutOfSourceBuild.cmake
!arkcmake/updateArkcmake.py
#!arkcmake/DefineCompilerFlags.cmake
#!arkcmake/MacroCheckCCompilerFlagSSP.cmake

